<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>Tasks | Task Focus</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></link>
<style>
body {
    padding-top: 70px;
}
</style>
</head>
<body>
    <nav th:replace="navigation :: nav"></nav>
    <div class="container-fluid">
        <h1 class="page-header">Tasks</h1>
        <h2>
            作業日: <span th:text="${#dates.format(date, 'yyyy-MM-dd')}">2017-08-15</span>
        </h2>
        <table class="table">
            <thead>
                <tr>
                    <th>作業名</th>
                    <th>開始予定時刻</th>
                    <th>見積り時間(分)</th>
                    <th>開始実績時刻</th>
                    <th>実績時間(分)</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="task : ${taskList}">
                    <td><a href="/ui/tasks/xxxxx-xx-xx-xx-xxxx/update" th:text="${task.name}" th:href="@{'/ui/tasks/'+${task.id}+'/update'}">テスト作業1</a></td>
                    <td th:text="${task.estimatedStartTime} ? ${#dates.format(task.estimatedStartTime, 'HH:mm')} : ''">13:00</td>
                    <td th:text="${task.estimatedTime}">60</td>
                    <td th:text="${task.actualStartTime} ? ${#dates.format(task.actualStartTime, 'HH:mm')} : ''">13:00</td>
                    <td th:text="${task.actualTime}">60</td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}">エラー</div>
        <form role="form" action="tasks.html" method="post" th:action="@{/ui/tasks/add}" th:object="${form}">
            <div class="form-group has-error" th:class="${#fields.hasErrors('name')}? 'form-group has-error' : 'form-group'">
                <label for="name">追加する作業名</label><input type="text" class="form-control" id="name" name="name" placeholder="本を読む" th:field="*{name}"></input><span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error</span>
            </div>
            <button type="submit" class="btn btn-success">Add</button>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
