<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<title>Sign-up Social Account | Task Focus</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></link>
<style>
body {
    padding-top: 70px;
}
</style>
</head>
<body>
    <nav th:replace="navigation-nosignin :: nav"></nav>
    <div class="container-fluid">
        <h1 class="page-header">Sign-up Social Account</h1>
        <p>SNSアカウントでTask Focusにサインアップします。</p>
        <form role="form" action="/connect/twitter" method="post">
            <button type="submit" class="btn btn-primary">Sign-up with Twitter</button>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
